.pretty-table {
	border-color: $lightGray;
  margin: 4em 0;

  @media only screen and (max-width: 767px) {
    // on mobile the fixed header margin needs to be reset
    margin-top: 0px !important;
  }
  
  table {
    border-collapse: collapse;
    border-spacing: 0; 
    border: 1px solid #bbb;
  }

	tr {
		border-bottom: 1px solid $offWhite;
	}

	td {
		padding: 0.25rem;
		font-size: 0.85em;
	}

	th {
		vertical-align: middle;
		text-align: left;
		line-height: 1.25em;
		padding: 0.25rem;
		font-size: 0.85em;
    text-transform: uppercase;
  }
  
  thead th {
    background-color: $lightGray;
		color: $black;
  }
}

body, input, button {
  font-family: Vollkorn;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #3f3f3f;
  font-size: 18px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

body, .postbar {
  background-color: #fff;
}

#header {
  padding: 15px 0 15px 0;
  overflow: visible;
  margin: 0 0 0 0;
  position: relative;
  display: block;
  width: 100%;
  z-index: 99;
  clear: both;
}

#header .container {
  overflow: visible;
}

.container, .container_alt {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  position: relative;
  padding: 0 0;
  overflow: hidden;
}

#titles {
  overflow: hidden;
  float: none;
  margin: 0 auto;
  display: block;
  padding: 0 0 0 0;
  position: relative;
  text-align: center;
  padding-top: 13px;
  padding-bottom: 12px;
  max-width: 100%;
}

.upper #header h1, .upper ul.menu>li>a, .upper .nav>li>a, .upper h2.content_widget, .upper .nav-previous a, .upper .meta, .upper .tab-post h4, .upper .tptn_title, .upper .uppercase, .upper .foocol h2, .upper .widgetable h2, .upper .social-menu a, .upper h3#reply-title, .upper #footer .threecol h2, .upper #respond .form-submit input, .upper .related li h5 {
  text-transform: uppercase!important;
}

#titles h1 {
  display: block;
  margin: 0 auto;
  margin-bottom:10px;
  float: none;
  max-width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  font-size: 48px;

}

h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#titles h1 > a {
  font-family: 'Playfair Display', serif;
  color: #1e73be!important;
  text-decoration:none;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

#titles p.site-description {
  font-size: 14px;
  font-family: 'Vollkorn', serif;
  width:100%;
}

p.site-tagline {
  margin: 5px 0;
  font-style: italic;
  line-height: 1.2;
}

/*FOOTER SOCIAL BAR CSS*/
.p-border {
  border-color: #efefef;
}

.ghost {
  background-color: #f7f7f7;
}

.footer-icons {
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 9;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-style: solid;
}

.footer-icons ul.social-menu {
  text-align: center;
  float: none;
  display: inline-block;
  margin: 38px auto 25px auto;
}

ul.social-menu {
  position: relative;
  overflow: hidden;
  padding: 0;
}

ol, ul {
  list-style: none;
}

ul.social-menu li {
  display: inline;
  list-style-type: none;
  position: relative;
  line-height: 1;
  float: left;
  margin: 3px 1px 3px 0;
  padding: 0 0 0 0;
  overflow: hidden;
  border-width: 0 !important;
  text-align: center;
}

.footer-icons ul.social-menu li a {
  width: auto;
  padding: 7px 10px;
  margin: 0 5px;
  position: relative;
  height: 20px;
  min-width: 38px;
}

.footer-icons ul.social-menu li a i {
  position: absolute;
  top: 10px;
  left: 13px;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-twitter:before {
  content: "\f099";
}

.footer-icons ul.social-menu li a span {
  margin-left: 25px;
  margin-right: 4px;
  line-height: 1.5;
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

ul.social-menu li a {
  border-color: #efefef!important;
  color:#000!important;
  text-decoration:none!important;
}

ul.social-menu li a {
  text-align: center;
  float: left;
  border-width: 1px;
  border-style: solid;
}

.meta, .meta a, .social-menu a {
  font-family: Montserrat;
  line-height: 18px;
  font-weight: 500;
  font-style: normal;
  color: #000;
  font-size: 11px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}

.social-menu li a:hover {
  background-color:#1e73bc;
  color:#fff!important;
}




/*# # # # # F O O T E R  C S S # # # # #*/
#footer, #footer .searchform input.s {
  background-color: #fff;
}
#footer, #footer input, #footer .bottom-menu li a {
  font-family: Vollkorn;
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  color: #666;
  visibility: visible;
  font-size: 14px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
}
#footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 0 0 0;
  overflow: hidden;
  position: relative;
  text-shadow: none;

}

.foocol.first {
  padding: 80px 0 20px 0;
}
.first, .ml-first {
  margin-left: 0px;
}
.foocol {
  margin: 0 0 0 0;
  width: 25%;
  padding: 80px 0 20px 80px;
  position: relative;
  min-height: 1px;
  float: left;
}

#footer .foocol h2 {
  font-size: 14px;
  padding: 10px 0;
  text-align: left;
}
#footer a, #footer h2, #footer h3, #footer #serinfo-nav li a, #footer .meta, #footer .meta a, #footer .searchform input.s {
  color: #1e73be;
}

h2, .entry h1, .entry h2, .entry h3, .entry h4, .entry h5, .entry h6 {
  font-family: Lato;
  line-height: 28px;
  font-weight: 700;
  font-style: normal;
}

h2.widget:after {
  background-color: #1e73be!important;
  opacity: 1;
}

#footer .foocol h2:after {
  left: 0;
  margin: 0 0;
}

h2.widget:after {
  display: block;
  content: '';
  position: absolute;

  bottom: 0;
  width: 50%;
  height: 2px;

}

h2.widget {
  text-transform: uppercase;
  margin: 20px 0 0 0;
  padding: 0 0 15px 0;
  position: relative;
}

.textwidget {
  margin: 30px 0 20px 0;
}

.clearfix:after {
  content: "\00A0";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

#footer li.cat-item, .footer-logo, #copyright, #footer .tagcloud a, #footer ul.menu>li>a, #footer .tp_recent_tweets ul li, #footer .p-border, #footer .searchform input.s, #footer input, #footer ul.social-menu li a {
  border-color: #f7f7f7!important;
}

#copyright {
  padding: 40px 0!important;
  overflow: hidden!important;
  border-top: 1px solid #444;
}

@media screen and (max-width: 1260px) {
.container, .container_alt {
  padding: 0 20px;
}
}

.clearfix {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, q, small, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  margin: 0;
  padding: 0;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media screen and (max-width: 770px) {
#sidebar, .foocol {
  max-width: 300px;
  width: 100%;
  float: none;
  margin: 0 auto;
  padding: 0 0;
}
}

@media only screen and (max-width: 485px){
h2, h1.entry-title {
  font-size: 6.5vw !important;
}
}

@media screen and (max-width: 770px){
body {
  width: 100%;
  min-width: 0;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  font-size: 16px;
  -webkit-text-size-adjust: none;
}

#footer p {
  margin: 0 0 15px 0;
}