<div>
  <table class="table table-striped" 
  data-toggle="table" 
  data-sortable="true" 
  data-height="460" 
  data-pagination="true"
  data-page-size="25"
  data-mobile-responsive="true">
    <thead>
      <tr>
        {% for key, value in data[0].items() %}
        <th>{{ key }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in data %}
        <tr>
          {% for key, value in row.items() %}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
